POSTGRES_DB=lab1_db
POSTGRES_USER=django
POSTGRES_PASSWORD=django
POSTGRES_HOST=postgres-service
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=django-insecure-lab2-local-dev-key
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend-service
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,https://localhost,http://127.0.0.1,https://127.0.0.1
